{% extends 'base.html.twig' %}

{% block title %}Nos produits{% endblock %}

{% block body %}

{% block stylesheets %}
<style>
    .darkNav{
        background-color: #050505;
        box-shadow: 2px 2px 3px #000;
        color:#fff!important;
    }

    .navigationBar{
        color:#000;
    }

    .newProduct {
        margin-top:100px;
        padding: 5% 10% 10%;
    }

    .section_title {
        font-size: 2em;
        font-style: italic;
    }

    .about small {
        font-style: italic;
        margin-bottom: 50px;
    }

    .card_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        width: 23%;
        min-width: 200px;
        border-radius: 10px;
        margin: 5px;
        box-shadow:3px 3px 5px lightgrey;
    }

    .card figure {
        width: 100%;
        object-fit: cover;
        height: 350px;
    }

    .card figure img {
        width: 100%;
        height: 100%;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    .card_content{
        padding: 10px;
    }

    .btn_full{
        color: #fff;
        background-color: #000;
        box-shadow: 2px 2px 2px 1px grey;
        text-transform: uppercase;	
        border-radius: none !important;
        text-transform: uppercase;

    }

    .btn_link{
        border: none;
        outline: none;
    }
    .btn_link:focus {
        border: none;
        outline: none;
    }

</style>

{% endblock %}

<section class="newProduct">
    <h2 class="section_title mb-5">Nos produits</h2>
    <p class="text-center mb-5 font-italic">- {{ products|length }} articles -</p>

    <div class="card_container">
        {% for p in products %}
        <div class="card">
            <figure><img src="{{ asset('uploads/' ~ p.image) }}" alt=""></figure>
            <div class="card_content">
                <h3>{{p.name}}</h3>
                    {% if p.stock == 0 %} <small class="text-secondary"><b>Epuisé</b> </small>{% endif %}
                    {% if p.stock <= 3 and p.stock >0 %} <small class="text-danger"><b>Bientôt épuisé </b></small>{% endif %}
                    {% if p.stock > 3 %} <small class="text-success"><b>En stock </b></small>{% endif %}
                <p>{{p.price}}</p>
                <a href="{{path('app_product', {'id':p.id})}}" class="btn btn_full">
                    Consulter
                </a>
                {% if app.user %}
                    {% if p.stock == 0 %}
                        <button type="button" class="btn_link" data-toggle="modal" data-target="#stockModal"><i class="fa-solid fa-cart-plus"></i> Ajouter</button>    
                    {% else %}
                        <button type="button" class="btn_link" onclick="addInCart({{p.id}})"><i class="fa-solid fa-cart-plus"></i> Ajouter</button>
                    {% endif %}
                {% endif %}
                
            </div>
        </div>
        {% else %}
        <p class="text-center">
            <td colspan="5">Aucun produit</td>
        </p>
        {% endfor %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="stockModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title text-danger" id="exampleModalLongTitle">En rupture de stock</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p class="text-center"><i class="fa-solid fa-triangle-exclamation fa-2x"></i></p>
            <p class="text-center">Impossible d'ajouter le produit au panier car il n'est plus en stock</p>
        </div>
        </div>
    </div>
    </div>

</section>
{% endblock %}

{% block javascripts %}
<script>
    async function addInCart(id) {
        fetch("/cart/" + id, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        })
        .then(response => response.json())
        .then(data => {
        console.log(data);
        // faire quelque chose avec les données
        })
        .catch(error => console.error(error));
    }
</script>

{% endblock %}